$primary-color: #003DD9;
$light_grey:#F3F3F3;
$font-col:#333;
body {
    background-color: $light_grey;
    color: $font-col;
    font-family: "HK Grotesk","Montserrat", sans-serif;
    box-sizing: border-box;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-items: left;
    align-items: left;
    // cursor: none;
    h1{font-size: 2.4em;}
    h2{font-size: 1.8em;}
    h3{font-size: 1.4em;}
    h4{margin: 0px;font-size: 1.2em;}
}

.btn{
    display:inline-block;
    background-color: $primary-color;
    padding: 16px;
    color: $light_grey;
    margin: 4px;
    width: fit-content;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration:none;
    transition: all 0.1s;
    &:hover{
        border: 2px solid $primary-color;
        background-color: $light_grey;
        color: $primary-color;
        cursor: pointer;
        font-weight: 400;
    }
}
/* Splash screen */
#splash{
    /* border: solid 2px red;
    padding: 10px; */
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 400px;

    justify-content: space-around;
    margin-bottom: 40px;
    .portrait{
        /* border: 2px solid green; */
        padding: 0px!important;
        img{
            width: 100%;
            object-fit: cover;
            height: -webkit-fill-available;
        }
    }
    .content{
        /* border: 1px dotted blue; */
        min-width: 70%;
        align-self: center;
        position: relative;
        left: 5em;
    
        display: flex;
        flex-direction: column;
        p{
            padding-right: 10em;
        }
        button{
            width: fit-content;
        }
    }
}
#splash > * {
    padding: 10px;
    flex: 1 100%;
  }

/* Main sections */
h3 span{
    font-weight: 200;
}
.wrapper{
    border: 1px dashed black;
    margin: 0px 40px;

    .preview_section_r{
        border: 1px solid tomato;
        margin: 40px 0px;
    
        display: grid;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    
        // display: flex;
        // flex-flow: column nowrap;
    }
    .banner{
        background-color: #3E3E3E;
        margin: 5px;
        grid-area: 1 / 1 / 7 / 8;
        img{
            width: 100%;
            object-fit: cover;
            height: -webkit-fill-available;
        }
    }
    .desciption_card{
        border: 1px solid $primary-color;
        grid-area: 3 / 3 / 5 / 9;
        background-color: white;
        margin: 5px;
        z-index: 10;
        display: flex;
        flex-flow: column nowrap;
        .card_nav{
            margin: 8px;
            /* border: 2px solid blue; */
            display: flex;
            flex-flow: row nowrap;
            align-items: baseline;
            justify-content: space-between;
            .btn{
                align-self: flex-start;
            }
            .info_pj{
                display: flex;
                flex-flow: column nowrap;
                /* border: 1px solid red; */
                line-height: 1.6em;
                justify-content: space-between;
            }
        }
    }
}



/* footer */
footer{
    position: fixed;
    bottom: -32px;
}