$primary-color: #003DD9;
$light_grey:#F3F3F3;
$font-col:#333;

body {
    background-color: $light_grey;
    color: $font-col;
    font-family: "HK Grotesk","Montserrat", sans-serif;
    box-sizing: border-box;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-items: left;
    align-items: left;
    // cursor: none;
    h1{font-size: 2.4em;}
    h2{font-size: 1.8em;}
    h3{font-size: 1.4em;}
    h4{margin: 0px;font-size: 1.2em;}
    p{
    line-height: 1.2em;
    font-size: 1.1em;
    }
}
.btn{
        background-color: #003DD9;
        padding: 16px;
        color: #F3F3F3;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        text-decoration: none;
        transition: all 0.1s;
        width: fit-content;
    &:hover{
        border: 2px solid $primary-color;
        background-color: $light_grey;
        color: $primary-color;
        cursor: pointer;
        font-weight: 400;
    }
}
#big_wrapper{
    overflow: auto;
}
/* Splash screen */
#splash{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 400px;

    justify-content: space-around;
    margin-bottom: 40px;
    .portrait{
        /* border: 2px solid green; */
        padding: 0px!important;
        img{
            width: 100%;
            object-fit: cover;
            height: -webkit-fill-available;
        }
    }
    .content{
        /* border: 1px dotted blue; */
        min-width: 70%;
        align-self: center;
        position: relative;
        left: 5em;
    
        display: flex;
        flex-direction: column;
        p{
            padding-right: 10em;
        }
        button{
            width: fit-content;
        }
    }
}
#splash > * {
    padding: 10px;
    flex: 1 100%;
  }

/* Main sections */
h3 span{
    font-weight: 200;
}
.wrapper{
    border: 1px dashed black;
    margin: 0px 4em;
    display: flex;
    flex-flow: column wrap;

    .preview_section_r{
        margin: 4em 0em;
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-self: center;
    }
    .banner{
        grid-area: 1 / 1 / 7 / 8;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
    }
    .desciption_card{
        border: 1px solid $primary-color;
        grid-area: 3 / 3 / 5 / 9;
        background-color: white;
        padding: 1em;
        display: flex;
        flex-flow: column nowrap;
        .card_nav{
            display: flex;
            flex-flow: row nowrap;
            align-items: baseline;
            justify-content: space-between;
            .btn{
                align-self: flex-start;
            }
            .info_pj{
                display: flex;
                flex-flow: column nowrap;
                line-height: 1.6em;
                justify-content: space-between;
                .title{
                    color: $primary-color;
                    font-size: 1.8em;
                    line-height: 1.4em;
                }
                .tags{
                    font-weight: 600;
                    font-size: 1.2em;
                }
            }
        }
    }
}

// footer{
//     bottom: -32px;
// }