body {
  background-color: #F3F3F3;
  color: #333;
  font-family: "HK Grotesk","Montserrat", sans-serif;
  box-sizing: border-box;
  display: -webkit-flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-items: left;
  align-items: left; }
  body h1 {
    font-size: 2.4em; }
  body h2 {
    font-size: 1.8em; }
  body h3 {
    font-size: 1.4em; }
  body h4 {
    margin: 0px;
    font-size: 1.2em; }
  body p {
    line-height: 150%;
    font-size: 1.1em; }

.btn {
  background-color: #003DD9;
  padding: 16px;
  color: #F3F3F3;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
  transition: all 0.1s;
  width: fit-content; }
  .btn:hover {
    border: 2px solid #003DD9;
    background-color: white;
    color: #333;
    cursor: pointer;
    font-weight: 400; }

#big_wrapper {
  overflow: auto; }

/* Splash screen */
#splash {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 400px;
  justify-content: space-around;
  margin-bottom: 2em; }
  #splash .portrait {
    /* border: 2px solid green; */
    padding: 0px !important; }
    #splash .portrait img {
      width: 100%;
      object-fit: cover;
      height: -webkit-fill-available; }
  #splash .content {
    /* border: 1px dotted blue; */
    min-width: 70%;
    align-self: center;
    position: relative;
    left: 5em;
    display: flex;
    flex-direction: column; }
    #splash .content p {
      padding-right: 10em; }
    #splash .content button {
      width: fit-content; }

#splash > * {
  padding: 10px;
  flex: 1 100%; }

/* Main sections */
h3 span {
  font-weight: 200; }

.wrapper {
  padding: 2em 4em;
  margin-bottom: 2em;
  display: flex;
  flex-flow: column wrap; }
  .wrapper .wrapper_small_pj {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start; }
  .wrapper .preview_section {
    margin: 2em 0em;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-self: center; }
    .wrapper .preview_section .desciption_card > a {
      display: none; }
    .wrapper .preview_section.right .banner {
      grid-area: 1 / 1 / 7 / 8; }
    .wrapper .preview_section.right .desciption_card {
      grid-area: 3 / 3 / 5 / 9; }
    .wrapper .preview_section.left .banner {
      grid-area: 1 / 2 / 8 / 9; }
    .wrapper .preview_section.left .desciption_card {
      grid-area: 3 / 1 / 5 / 7; }
    .wrapper .preview_section.small {
      align-self: auto;
      display: flex;
      flex-flow: column nowrap;
      width: 20em;
      border: 1px solid #003DD9; }
      .wrapper .preview_section.small .banner {
        height: 15em; }
      .wrapper .preview_section.small .desciption_card {
        border: none; }
        .wrapper .preview_section.small .desciption_card a {
          display: inline;
          align-self: center;
          margin-bottom: -2.5em; }
      .wrapper .preview_section.small .card_nav a {
        display: none; }
    .wrapper .preview_section .banner img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
    .wrapper .preview_section .desciption_card {
      border: 1px solid #003DD9;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 4px 24px rgba(0, 0, 0, 0.08);
      background-color: white;
      padding: 1em;
      display: flex;
      flex-flow: column nowrap; }
      .wrapper .preview_section .desciption_card .card_nav {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
        justify-content: space-between; }
        .wrapper .preview_section .desciption_card .card_nav .btn {
          align-self: flex-start; }
        .wrapper .preview_section .desciption_card .card_nav .info_pj {
          display: flex;
          flex-flow: column nowrap;
          line-height: 150%;
          justify-content: space-between; }
          .wrapper .preview_section .desciption_card .card_nav .info_pj .title {
            color: #003DD9;
            font-size: 1.8em;
            line-height: 1.4em; }
          .wrapper .preview_section .desciption_card .card_nav .info_pj .tags {
            font-weight: 600;
            font-size: 1.2em; }

/*# sourceMappingURL=benstyle.css.map */
