$primary-color: #003DD9;
$light_grey:#F3F3F3;
$font-col:#333;

body {
    background-color: $light_grey;
    color: $font-col;
    font-family: "HK Grotesk","Montserrat", sans-serif;
    box-sizing: border-box;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-items: left;
    align-items: left;
    margin: 0;
    // cursor: none;
    h1{font-size: 3em;margin: 0;}
    h2{font-size: 2.4em;margin: 0;}
    h3{font-size: 1.8em;margin: 0;}
    h4{font-size: 1.2em;margin: 0;}
    p{
    line-height: 150%;
    font-size: 1.2em;
    }
}
.btn{
        background-color: $primary-color;
        padding: 16px;
        color: #F3F3F3;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        text-decoration: none;
        transition: all 0.1s;
        width: fit-content;
    &:hover{
        border: 2px solid $primary-color;
        background-color: white;
        color: $font-col;
        cursor: pointer;
        font-weight: 400;
    }
}
#big_wrapper{
    overflow: auto;
    overflow-x: hidden;
}

#banner{
    position: relative;
    width: 100%;
    background-color: blue;
    height: 400px;
    overflow: hidden;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.positioner{
    width: 100vw;
    overflow: visible;
    // border: thin solid lime;
    margin-bottom: -4rem;
    .chapeau{
        display: inline block;
        object-position: center;
        max-width: 40%;
        min-width: 20%;
        height: 100%;
        margin: 0px auto;
        padding: 2rem;
        background: white;
        text-align: center;
        color: $primary-color;
        border: thin solid $primary-color;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 4px 24px rgba(0, 0, 0, 0.08);
        z-index: 300;
        transform: translate(0, -50%);
        h2{
            margin: 0px;
            font-size: 2.5rem;
        }
    }
}
/* Main sections */
.wrapper{
    // border: 1px dashed black;
    margin: 4em auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    .intro{
        // border: 1px solid red;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        // height: 20em;
        font-weight: 600;
        ul{
            line-height: 1.5em;   
        }
    }
    .card {
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 18px;
        margin: 30px auto;
        border: pink solid thin;
        padding: 30px;
        .text {
            position: sticky;
            max-height: 70vh;
            overflow-y: scroll;
            top: 30vh;
            padding: 1em;
            background: white;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 4px 24px rgba(0, 0, 0, 0.08);
            // b{color: $primary-color;}
          }
        img, video {
        grid-column: 2;
        width: 100%;
        object-fit: contain;
        }
      }
}
.footnote{
    margin: 3em;
    .flex_contain{
        display: flex;
        flex-flow: row wrap;
        justify-items: start;
    }
    .col{
        width: 300px;
        font-size: 1.2em;
        .head_col{
            line-height: 2em;
        }
        .content_col{
            
        }
    }
}